// --------------------------------------------------------------------------
//  Copyright 2013 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

WARNING_CFLAGS = $(inherited) -Wno-arc-bridge-casts-disallowed-in-nonarc -Wno-deprecated-declarations

PRODUCT_BUNDLE_IDENTIFIER = com.elegantchaos.frameworks.eccommandline

GCC_PREFIX_HEADER = Source/Prefix/ECCommandLineTests.pch
